body {
    margin: 0;
    background: #000;
    height: 100vh;
    overflow: hidden;
    cursor: crosshair
}

.firework {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.particle {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: boom 1.5s forwards;
}

@keyframes boom {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1
    }
    100% {
        transform: translate(var(--x), var(--y)) scale(0);
        opacity: 0
    }
}